body {
    overflow-x: hidden;
    margin: 0;
    max-width: 100vw;
    display: block;
    font-family: 'Open Sans', sans-serif;

}

@media (min-width: 768px) {
    div {
        font-size: calc(0.8vw + 1vh);
    }
    .site-header {
        background-image: url('images/other/demo2.svg');
        background-size: 100% 100%;
        border-bottom: 2px solid black;
    }

    .logo-container img {
        width: 100%;
        /* Make image take full width of .logo-container */
        height: auto;
        /* Maintain aspect ratio */
        max-height: 100%;
        /* Ensure it doesn't exceed the container's height */
    }

    .logo-container {
        max-width: 20%;
        margin-left: 2vw;
        /* Logo takes up 1/5th of screen width */
        height: auto;
        display: block;
    }

    .tagline {
        display: flex;
        justify-content: flex-end;
    }

    .tagline p {
        font-family: 'Merriweather', serif;
        font-weight: 400;
        display: block;
        font-size: calc(1.5vw + 1vh);
        text-align: center;
        width: 60vw;
        margin-top: 8vh;
        margin-bottom: 5vh;
        margin-right: 5vw;
    }

    .toggles {
        display: flex;
        justify-content: center;
        margin-top: 5vh;
        margin-bottom: 20vh;
    }

    .toggle-section {
        text-align: center;
        cursor: pointer;
        /* Optional: changes mouse cursor on hover */
        position: relative;
        /* Required for absolute positioning context */
        width: 25vw;
        background-color: rgb(195, 187, 185);
        border-radius: 10px;
        height: 30vh;
        margin: 1vw;

        overflow: hidden;
    }

    .toggle-section img {
        max-height: calc(100% - 20px);
        max-width: 50%;
        max-height: 50%;
        margin-top: 2vh;
    }

    .toggle-section p {
        font-size: calc(1vw + 2vh);
        margin-top: 1vh;
        margin-bottom: 2vh;
        background-color: #a8a29f;
        font-weight: 1000;
    }

    .content {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        display: none;
        position: absolute;
        /* Take out of document flow */
        width: 50%;
        height: 99%;
        /* Adjust height as needed */
        background-color: rgb(225, 103, 62);
        z-index: 10;
        border: 3px solid black;
        
    }

    #content-section1 {
        left: -100%;
        /* Start off-screen to the left */
        top: 0;
        transition: left .5s ease-in-out;
        box-shadow: 10px 10px 5px rgba(0,0,0,0.3);
    }

    #content-section2 {
        transition: top .5s ease-in-out;
        left: 25%;
        top: -110%;
        box-shadow: 10px 10px 5px rgba(0,0,0,0.3), -10px 10px 5px rgba(0,0,0,0.3);
        /* Start off-screen at the top */
    }

    #content-section3 {
        transition: right .5s ease-in-out;
        right: -100%;
        top: 0;
        box-shadow: -10px 10px 5px rgba(0,0,0,0.3);
        /* Start off-screen at the top */
    }

    .lumber-selection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .lumber-selection label,
    .lumber-selection select,
    .lumber-selection input,
    .lumber-selection button {
        font-size: calc(0.7vw + 1vh);
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 10px;
    }
    #content-section3 input {
        width: 60%;
    }

    .lumber-selection button {
        background-color: #4CAF50;
        /* Green */
        color: white;
        padding: 10px;
        border: none;
        cursor: pointer;
    }

    #material {
        margin-top: 5vh;
    }

    /* Add hover effect for button */
    .lumber-selection button:hover {
        background-color: #45a049;
    }


    .close-button {
        position: absolute;
        bottom: 20px;
        right: 20px;
        padding: 2vw;
    }

    .site-footer {
        background-color: rgb(212, 77, 32);
        position: fixed;
        bottom: 0;
        width: 100%;
        border-top: 2px solid black;
        height: 13vh;
    }

    .phone-number {
        background-color: rgb(225, 103, 62);
        padding: 2vh;
        border-radius: 10px;
        font-family: 'Open Sans', sans-serif;
        font-weight: 500;
        font-size: calc(1vw + 1vh);
        width: fit-content;
        margin-left: 80vw;
    }

    /* styles.css */
    .cart-section {
        border-top: 2px solid black;
        height: 0;
        transition: height 2s ease-out;
        /* Smooth transition for .5 seconds */
        background-color: rgb(195, 187, 185);
        display: flex;
        justify-content: space-between;
        margin-bottom: 1px;
        overflow: hidden;
        margin-bottom:0; 
    }

    #orders-div {
        width: 50%;
        overflow-y: scroll;
        overflow: auto;
        background-color: #a8a29f;
        text-align: center;
        padding-top: 5vh;
        padding-bottom: 5vh;
        scrollbar-color: #6969dd #e0e0e0;
    }

    .order-item {
        display: block;
        background-color: rgb(225, 103, 62);
        width: auto;
        margin-left: 3vw;
        margin-top: 2vh;
        padding: 1vh;
        border-radius: 10px;
        width: fit-content;
    }

    .order-item span {
        background-color: rgb(212, 77, 32);
        margin-left: 5vw;
        cursor: pointer;
        padding: 5px;
        border-radius: 25px;
    }

    .order-call {
        display: inline-block;
        text-align: center;
        max-width: 25vw;
        margin: auto;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .order-call input[type=tel] {
        font-size: calc(0.8vw + 1vh);
        width: calc(100% - 22px);
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #ddd;
    }

    #order-call-button {
        font-size: calc(0.8vw + 1vh);
        width: 100%;
        padding: 10px;
        background-color: green;
        /* Bootstrap primary color */
        color: white;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        transition-duration: .3s;

    }

    #order-call-button:hover {
        background-color: seagreen;
        /* darker blue on hover */
    }

    #scrollButton {
        position: fixed;
        /* Fixed position */
        bottom: 15vh;
        /* Place it 20px from bottom */
        right: 2vw;
        /* Place it 20px from right */
        opacity: 0;
        /* Start with an opacity of zero */
        transition: all 0.3s ease-in-out;
        transition: opacity .5s ease-in-out;
        /* Fade effect during visibility transition */
        padding: 10px 20px;
        background-color: green;
        /* Blue shade */
        color: white;
        border: none;
        border-radius: 5px;
        font-size: calc(0.8vw + 1vh);
        cursor: pointer;
        outline: none;
        /* Removes the outline effect on focus */
        box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
        /* Adds a subtle shadow */
    }

    #scrollButton:hover {
        /* Hover and focus for accessibility */
        background-color: seagreen;
        /* Slightly darker blue on hover/focus */
        transform: translateY(-2px);
        /* Creates a small lift effect on hover/focus */

        /* Increasing the drop shadow size on hover/focus for more depth perception */
        box-shadow: 0 6px 8px rgba(0, 0, 0, .2);

        text-decoration: none;
    }

    /* Class to apply when section should be shown */
    .show-content {
        margin-bottom:13vh; 
        height: 80vh;
        /* Adjust as needed, could be 100%, etc. */
    }


}

@media (max-width: 768px) {
    .site-header {
        background-color: rgb(212, 77, 32);
        display: flex;
        justify-content: center;
    }

    .logo-container {
        max-height: 20%;
        max-width: 80%;
        /* Logo takes up 1/5th of screen width */
        display: block;
    }

    .logo-container img {

        width: 100%;
        /* Make image take full width of .logo-container */
        height: auto;
        /* Maintain aspect ratio */
        max-height: 100%;
        /* Ensure it doesn't exceed the container's height */
    }

    .phone-number {
        font-family: 'Open Sans', sans-serif;
        font-weight: 400;
        display: block;
        font-size: calc(3vh + 2vw);
        text-align: center;
        width: 100%;
        padding-top: 2vh;
        padding-bottom: 5vh;
        margin:0;
    }

    .tagline {
        display: none;
    }

    .toggle-section {
        text-align: center;
        cursor: pointer;
        /* Optional: changes mouse cursor on hover */
        position: relative;
        /* Required for absolute positioning context */
        height: 40vh;
        background-color: rgb(195, 187, 185);
        border-radius: 10px;
        margin: 1vw;
        overflow: hidden;
    }

    .toggle-section img {
        max-height: calc(100% - 20px);
        max-width: 50%;
        max-height: 50%;
        margin-top: 2vh;
    }


    .content {
        text-align: center;
        display:flex;
        flex-direction: column;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
        max-height: 0;
        /* Initially content is hidden */
        background-color: rgb(225, 103, 62);
    }

    .close-button, #scrollButton {
        display: none
    }
    .site-footer {
        background-color: rgb(212, 77, 32);
    }
}