
:root {
  /* :root is a clever way of saying "the outer-most element" */
  
  --color1: #ff4545; /* the default */
  --color2: #ff4545;
}
body {
background-color: rgba(245,246,247,1)
}
header {
  background-color:white;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 40px;
  text-align:center
}
.container {
  width: 580px;
  margin: 0 auto;
}
  .page {
    display: flex;
    flex-direction: column;
    min-width: 640px;
    min-height: 100vh;
    margin: 0;
    font-family: "Georgia", "Tahoma", sans-serif;
    font-size: 14px;
    line-height: 18px;
  }
  .page-title {

    margin: 0px;
    margin-bottom: 40px;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    border-radius:25px;
  }
  .content {
    font-size: 20px;
    line-height: 30px;
    width: 580px;
    border-radius: 25px;
  }
  .gradient{
    width: 500px;
    height: 500px;
    margin-top: 20px;
    background: linear-gradient(var(--color1) , var(--color2));
  }
  .gradcontainer {
    width: 620x;
    margin: 0 auto;
  }